Repository LiveOakLabs/terraform-provider-readme: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, docs

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
    - id: check-yaml
    - id: check-added-large-files
    - id: no-commit-to-branch
      args: [--branch, main]

- repo: local
  hooks:
    - id: golint
      name: go linting
      description: Run go linting via Makefile
      entry: make lint
      language: system
      files: '.*\.go$'
    - id: gofmt
      name: gofmt
      description: Run gofmt
      entry: gofmt -w .
      language: system
      files: '.*\.go$'
    - id: docs
      name: docs
      description: Run make docs to generate docs
      entry: make docs
      language: system
      files: '(.*\.go|examples\/.*)'

go 1.20
  go.mod
  go.sum
Due: none

Update readme-api-go-client
  go.mod
  go.sum
Due: none

maint: add changelog
  CHANGELOG.md
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Update package name and URL
  .github/CODEOWNERS
  README.md
  examples/provider/provider.tf
  go.mod
  go.sum
  main.go
  readme/api_registry_data_source.go
  readme/api_specification_data_source.go
  readme/api_specification_resource.go
  readme/categories_data_source.go
  readme/categories_data_source_test.go
  readme/category_data_source.go
  readme/category_data_source_test.go
  readme/category_docs_data_source.go
  readme/category_docs_data_source_test.go
  readme/category_resource.go
  readme/category_resource_test.go
  readme/doc.go
  readme/doc_data_source.go
  readme/doc_resource.go
  readme/doc_resource_test.go
  readme/doc_search_data_source.go
  readme/doc_test.go
  readme/frontmatter.go
  readme/project_data_source.go
  readme/provider.go
  readme/provider_test.go
  readme/version_data_source.go
  readme/version_data_source_test.go
  readme/version_resource.go
  readme/version_resource_test.go
  readme/versions_data_source.go
Due: golint, gofmt, docs

docs: renamed source address
  docs/index.md
Due: none

ci: explicit file list for goreleaser
  .goreleaser.yml
Due: docs

fix: update registry provider address
  main.go
Due: golint, gofmt, docs

fix: re-create deleted resources
  readme/api_specification_resource.go
  readme/category_resource.go
  readme/category_resource_test.go
  readme/doc.go
  readme/doc_data_source.go
  readme/doc_resource.go
  readme/doc_resource_test.go
  readme/version_resource.go
Due: golint, gofmt, docs

feature: image upload
  examples/resources/readme_image/example.png
  examples/resources/readme_image/resource.tf
  go.mod
  go.sum
  readme/image_resource.go
  readme/image_resource_test.go
  readme/provider.go
Due: golint, gofmt, docs

fix: image path validation
  readme/image_resource.go
  readme/image_resource_test.go
Due: golint, gofmt, docs

docs: Add image resource doc
  docs/resources/image.md
Due: none

fix: Don't send conflicting request params
  readme/doc_resource.go
Due: golint, gofmt, docs

maint: bump dependencies
  go.mod
  go.sum
Due: none

fix: api spec data source - lookup by title
  readme/api_specification_data_source.go
  readme/api_specification_data_source_test.go
Due: golint, gofmt, docs

feat: API spec data source filtering
  docs/data-sources/api_specification.md
  readme/api_specification_data_source.go
  readme/api_specification_data_source_test.go
Due: golint, gofmt, docs

feat: Add api_specifications data source
  docs/data-sources/api_specifications.md
  examples/data-sources/readme_api_specifications/data-source.tf
  readme/api_specifications_data_source.go
  readme/api_specifications_data_source_test.go
  readme/provider.go
Due: golint, gofmt, docs

feat: Sort api_specifications data source
  docs/data-sources/api_specifications.md
  readme/api_specifications_data_source.go
  readme/api_specifications_data_source_test.go
Due: golint, gofmt, docs

Use framework 1.2 features
  readme/doc_resource.go
  readme/version_resource.go
Due: golint, gofmt, docs

fix: Trim leading/trailing whitespace from docs
  docs/data-sources/doc.md
  docs/resources/doc.md
  examples/resources/readme_doc/resource.tf
  readme/doc.go
  readme/doc_data_source.go
  readme/doc_resource.go
  readme/doc_resource_test.go
  readme/doc_test.go
Due: golint, gofmt, docs

Remove divider comment
  Makefile
Due: none

docs: Examples, contributing
  CONTRIBUTING.md
  README.md
  readme/provider.go
Due: golint, gofmt, docs

docs/CONTRIBUTING: s/GitLab/GitHub/g
  CONTRIBUTING.md
Due: none

feat: Custom Pages data sources and resource
  docs/data-sources/custom_page.md
  docs/data-sources/custom_pages.md
  docs/resources/custom_page.md
  examples/data-sources/readme_custom_page/data-source.tf
  examples/data-sources/readme_custom_pages/data-source.tf
  examples/resources/readme_custom_page/resource.tf
  readme/custom_page.go
  readme/custom_page_data_source.go
  readme/custom_page_data_source_test.go
  readme/custom_page_resource.go
  readme/custom_page_resource_test.go
  readme/custom_pages_data_source.go
  readme/custom_pages_data_source_test.go
  readme/custom_pages_test.go
  readme/doc.go
  readme/provider.go
Due: golint, gofmt, docs

docs: re-generate for tf-plugin-docs update
  docs/data-sources/api_registry.md
  docs/data-sources/api_specification.md
  docs/data-sources/api_specifications.md
  docs/data-sources/categories.md
  docs/data-sources/category.md
  docs/data-sources/category_docs.md
  docs/data-sources/custom_page.md
  docs/data-sources/custom_pages.md
  docs/data-sources/doc.md
  docs/data-sources/doc_search.md
  docs/data-sources/project.md
  docs/data-sources/version.md
  docs/data-sources/versions.md
  docs/resources/custom_page.md
  docs/resources/doc.md
  docs/resources/image.md
Due: none

docs: Remove useless badges; add logo
  .github/readme/lob-logo.png
  README.md
Due: none

maint: remove deprecated flag from 'make check-vuln'
  Makefile
Due: none

ci: run check-vuln independent of gosec
  .github/workflows/tests.yml
Due: none
