Repository LiveOakLabs/terraform-provider-readme: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, docs

golint:
  name: go linting
  description: Run go linting via Makefile
  entry: make lint
  language: system

gofmt:
  name: gofmt
  description: Run gofmt
  entry: gofmt -w .
  language: system

docs:
  name: docs
  description: Run make docs to generate docs
  entry: make docs
  language: system

Add 'version' key to .goreleaser config
  .goreleaser.yml
Due: docs

Doc fixes; API specs data source versions fix
  docs/data-sources/api_specifications.md
  docs/resources/doc.md
  readme/api_specifications_data_source.go
  readme/doc.go
  readme/doc_resource.go
  readme/frontmatter/frontmatter.go
Due: golint, gofmt, docs

Dependency Updates
  go.mod
  go.sum
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Remove deprecated params from goreleaser config
  .goreleaser.yml
Due: docs

Update readme-api-client: pagination
  go.mod
  go.sum
Due: none

Refactor API specification resource for clarity and consistency
  docs/resources/api_specification.md
  readme/api_specification_resource.go
  readme/api_specification_resource_test.go
Due: golint, gofmt, docs

fix: deleting nested docs
  Makefile
  docs/index.md
  docs/resources/doc.md
  go.mod
  go.sum
  internal/testdata/testdata.go
  readme/api_registry_data_source_test.go
  readme/api_specification_data_source_test.go
  readme/api_specification_resource.go
  readme/api_specification_resource_test.go
  readme/api_specifications_data_source_test.go
  readme/categories_data_source_test.go
  readme/category_data_source_test.go
  readme/category_docs_data_source_test.go
  readme/category_resource.go
  readme/category_resource_test.go
  readme/changelog_data_source_test.go
  readme/changelog_resource.go
  readme/changelog_resource_test.go
  readme/custom_page_data_source_test.go
  readme/custom_page_resource.go
  readme/custom_page_resource_test.go
  readme/custom_pages_data_source_test.go
  readme/doc_data_source_test.go
  readme/doc_resource.go
  readme/doc_resource_test.go
  readme/doc_search_data_source_test.go
  readme/image_resource.go
  readme/image_resource_test.go
  readme/project_data_source_test.go
  readme/provider.go
  readme/provider_test.go
  readme/version_data_source_test.go
  readme/version_resource.go
  readme/version_resource_test.go
  readme/versions_data_source_test.go
Due: golint, gofmt, docs

docs: update logo, readme structure
  .github/readme/lob-logo.png
  README.md
Due: none

docs: fix link
  README.md
Due: none

docs: update word
  README.md
Due: none

docs: minor touchups
  .github/release-drafter.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  Makefile
  README.md
  docs/resources/doc.md
  readme/doc_resource.go
Due: golint, gofmt, docs

fix: delete missing docs
  CHANGELOG.md
  docs/resources/api_specification.md
  docs/resources/doc.md
  readme/api_specification_resource.go
  readme/doc_resource.go
Due: golint, gofmt, docs

ci: test current Terraform versions
  .github/workflows/tests.yml
Due: none

specs: handle deletion when reading version
  readme/api_specification_resource.go
Due: golint, gofmt, docs

docs: readme typo
  README.md
Due: none

Path conditions:
  golint: any of: .*\.go$
  gofmt: any of: .*\.go$
  docs: any of: (.*\.go|examples\/.*)
